# dependency packages
node_modules

# bundled release 
dist

# macOS
.DS_Store

# vi temp files
*.swp

# typescript build info cache files 
*.tsbuildinfo

# output file for esbuild meta.data for bundle size analysis
meta.json

# output file for rollup-plugin-visualizer
stats.html